html {
    height: 100%;
}

body {
    background: url(https://images.unsplash.com/photo-1612267168669-679c961c5b31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    font-family: Lato;
    color: white;
}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
                 0px 4px 3px rgba(0,0,0,0.1), 
                 0px 4px 3px rgba(0,0,0,0.1);    
}

h1 {
    font-weight: 700;
    font-size: 4em;
}

hr {
    margin: 1.25em auto 1.25em auto;
    opacity: 1;
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

